/* Main */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    color: #605D52;
    background-color: #F8F7EC;
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
}

dl, ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

p {
    line-height: 24px;
}

img {
    max-width: 100%;
}

a, a:hover {
    text-decoration: none;
    color: inherit;
}

button {
    background: transparent;
    border: 0;
    color: inherit;
}

.page-container {
    width: 100%;
    height: 100%;
}

.container {
    width: 1225px;
    height: 100%;
    position: relative;
    padding: 0;
}

.icon {
    font-weight: 100 !important;
    font-size: 24px;
    vertical-align: middle;
}

/* Header */

.header {
    width: 100%;
    font-family: 'Avenir Next Cyr', sans-serif;
}

.header-mobile {
    display: none;
}

@media (max-width: 1000px) {
    .header-desktop {
        display: none;
    }
    
    .header-mobile {
        display: block;
    }
}

.header-social {
    display: flex;
    color: #5F3316;
}

.header-social-item {
    margin-left: 18px;
    width: 22px;
}

.header-lang li {
    display: inline;
    margin-left: 18px;
}

.header-contact {
    font-family: 'Source Sans Pro', sans-serif;
}

.header-contact .header-icon span {
    vertical-align: middle;
    font-weight: 600;
    margin-left: 17px;
}

.header-contact-telegram {
    margin-left: 5px;
}

.header-lang {
    text-transform: uppercase;
    margin-right: 9px;
    display: inline-block;
}

a.header-search {
    color: #5F3316;
}

/* Header Top */

.header-top {
    width: 100%;
    height: 56px;
    font-size: 16px;
    color: #413E33;
}

.header-top .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-menu-item {
    display: inline;
    margin-right: 24px;
}

.header-top-center {
    padding-left: 16px;
    color: #887559;
}

.header-top-left {
    position: absolute;
    left: 0;
}

.header-top-right {
    position: absolute;
    right: 0;
}

.header-top .header-search {
    margin-right: 40px;
}

/* Header Main */

.header-main {
    height: 120px;
    background: #EBD8BC;
}

.header-main .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-menu-list {
    display: flex;
    font-size: 24px;
}

.main-menu {
    flex-grow: 1;
    margin-left: 40px;
    color: #231F14;
}

.main-menu-item {
    margin-right: 20px;
}

.main-menu-item:hover {
    text-decoration: underline;
    font-weight: 500;
}

.main-menu-item a {
    display: flex;
    flex-direction: column;
}

.main-menu-item a:before {
    content: attr(data-content);
    height: 0;
    visibility: hidden;
    overflow: hidden;
    user-select: none;
    pointer-events: none;
    font-weight: 500;
}


@media (max-width: 1200px) {
    .main-menu-list {
        flex-wrap: wrap;
        justify-content: center;
    }
}

/* Header Mobile */

.header-mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.header-mobile .header-fixed {
    height: 68px;
    display: flex;
    justify-content: space-between;
    background: #EBD8BC;
    padding: 8px 16px;
    align-items: center;
    color: #5F3316;
}

.header-mobile .menu-opened {
    display: none;
}

.header-mobile .menu-open, .header-mobile .menu-close {
    margin-right: 12px;
}

.header-mobile .header-search {
    margin-right: 28px;
}