/* Main */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    color: #605D52;
    background-color: #F8F7EC;
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
}

body.no-scroll {
    overflow: hidden;
}

dl, ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

p {
    line-height: 24px;
}

.large-text {
    font-size: 18px;
}

h1, h2, h3 {
    font-weight: 500;
    font-family: 'Avenir Next', sans-serif;
    text-transform: uppercase;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

@media (max-width: 768px) {
    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 22px;
    }

    h3 {
        font-size: 18px;
    }
}

img {
    max-width: 100%;
}

a, a:hover {
    text-decoration: none;
    color: inherit;
}

button {
    background: transparent;
    border: 0;
    color: inherit;
}

.page-container {
    width: 100%;
    height: 100%;
}

.container {
    max-width: 1225px;
    height: 100%;
    position: relative;
    padding: 0;
}

.icon {
    font-weight: 100 !important;
    font-size: 24px;
    vertical-align: middle;
}

/* Header */

.header {
    width: 100%;
    font-family: 'Avenir Next', sans-serif;
}

.header-mobile {
    display: none;
}

@media (max-width: 1000px) {
    .header-desktop {
        display: none;
    }
    
    .header-mobile {
        display: block;
    }

    .page-container {
        padding-top: 68px;
    }
}

.header-social {
    display: flex;
    color: #5F3316;
}

.header-social-item {
    margin-left: 18px;
    width: 22px;
}

.header-lang li {
    display: inline;
    margin-left: 18px;
}

.header-contact {
    font-family: 'Source Sans Pro', sans-serif;
    display: flex;
    align-items: center;
    height: 100%;
}

.header-contact .header-icon span {
    vertical-align: middle;
    font-weight: 600;
    margin-left: 17px;
    line-height: 24px;
}

.header-contact-telegram {
    margin-left: 5px;
}

.header-lang {
    text-transform: uppercase;
    margin-right: 9px;
    display: inline-block;
}

a.header-search {
    color: #5F3316;
}

/* Header Top */

.header-top {
    width: 100%;
    height: 56px;
    font-size: 16px;
    color: #413E33;
}

.header-top .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-menu-item {
    display: inline;
    margin-right: 24px;
}

.header-top-center {
    padding-left: 16px;
    color: #887559;
}

.header-top-left {
    position: absolute;
    left: 0;
}

.header-top-right {
    position: absolute;
    right: 0;
}

.header-top .header-search {
    margin-right: 40px;
}

/* Header Main */

.header-main {
    height: 120px;
    background: #EBD8BC;
}

.header-main .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-menu-list {
    display: flex;
    font-size: 24px;
}

.main-menu {
    flex-grow: 1;
    margin-left: 40px;
    color: #231F14;
}

.main-menu-item {
    margin-right: 20px;
}

.main-menu-item:hover {
    text-decoration: underline;
    font-weight: 500;
}

.main-menu-item a {
    display: flex;
    flex-direction: column;
}

.main-menu-item a:before {
    content: attr(data-content);
    height: 0;
    visibility: hidden;
    overflow: hidden;
    user-select: none;
    pointer-events: none;
    font-weight: 500;
}


@media (max-width: 1200px) {
    .main-menu-list {
        flex-wrap: wrap;
        justify-content: center;
    }
}

/* Header Mobile */

.header-mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: #5F3316;
    height: 100vh;
}

.header-mobile .header-fixed {
    height: 68px;
    display: flex;
    justify-content: space-between;
    background: #EBD8BC;
    padding: 8px 16px;
    align-items: center;
    color: #5F3316;
    position: relative;
}

.header-mobile .menu-opened {
    display: none;
}

.header-mobile .menu-open, .header-mobile .menu-close {
    margin-right: 12px;
}

.header-mobile .header-search {
    margin-right: 28px;
}

.header-mobile-right .menu-closed, .header-mobile-right .menu-opened {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
}

.header-mobile-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.mobile-menu {
    display: none;
}

.mobile-menu-top {
    width: 100%;
    height: 56px;
    background: #F3E8D8;
    color: #5F3316;
    padding-left: 8px;
}

.main-mobile-menu {
    text-transform: uppercase;
    font-weight: 600;
    padding: 32px 16px 0;
}

.main-mobile-menu-item {
    margin-top: 24px;
    line-height: 20px;
}

.main-mobile-menu-item:first-child {
    margin-top: 0;
}

.main-mobile-menu-list + .main-mobile-menu-list {
    margin-top: 16px;
    padding-top: 16px;
    border-top: 1px solid #BBB9AE;
}

.mobile-menu-bottom {
    position: absolute;
    bottom: 33px;
    left: 25px;
}

.header-mobile .header-social-item:first-child {
    margin-left: 0;
}

@media (min-width: 600px) {
    .header-mobile {
        font-size: 20px;
    }
}

/* PAGE HEADING */

.page-heading {
    color: #605D52;
    text-align: center;
    padding: 42px 0 48px 0;
}

.page-heading h1 {
    color: #231F14;
    margin-bottom: 16px;
    margin-top: 22px;
}

.page-heading-ornament {
    margin-top: 16px;
    opacity: 0.5;
}